{% extends 'base.html' %}

{% block content %}
<section>
    <header>
        <h2>{{ lunch_title }}</h2>
    </header>
        {% for item in lunch_items %}
        <article>
            <img src="{{ url_for('static', filename=item.image_url) }}" alt="{{ item.description }}" width="300">
            <p>{{ item.name }}</p>
            <p>{{ item.description }}</p>
            <p>small${{ item.sizes.small }}</p>
            <p>large${{ item.sizes.large }}</p>
        </article>
        {% endfor %}
</section>
{% endblock %}